Write a program to add item 7000 after 6000 in the following Python List;
Hint: Use append( ) method to add to the nested list.
Given list: 
    lis1 = [10, 20, [300, 400, [5000, 6000], 500 ], 30, 40] 
Expected Output:
	lis1 = [10, 20, [300, 400, [5000, 6000, 7000], 500 ], 30, 40]

In [5]:
lis1 = [10, 20, [300, 400, [5000, 6000], 500 ], 30, 40]

# temp=lis1[2][2]
# print(temp)
# temp.append(7000)
# lis1[2][2] = temp
# print(lis1)
lis1[2][2].append(7000)
print(lis1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

II/ Given a Python list, write a program to remove all occurrences of item 20. 
	Hint: Use a while loop and remove( ). 
	list1 = [5, 20, 15, 20, 25, 50, 20]
    
    Output:
	List1 = [5, 15, 25, 50]

In [61]:
list1 = [5, 20, 15, 20, 25, 50, 20,20,20,20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

Write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes:
	a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
	Output: 
	c = [1, 2, 3, 5, 8, 13]

In [77]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
l =[]
for i in range(len(a)):
    for j in range(len(b)):
        if a[i] == b[j] and a[i] not in l:
            l.append(a[i])
print(l)

[1, 2, 3, 5, 8, 13]

2-D List: 
(Use Loop and  if else) Let’s say we want to draw game boards that (for example look like this when input is 3 (3x3) board for a Tic Tac Toe game:
Input:	
How many lines? 3
Output: 
   ----- 	   ----- 	   ----- 
|   	|   	|   	| 
   ----- 	   ----- 	   ----- 
|   	|   	|   	| 
   ----- 	   ----- 	   ----- 
|   	|   	|   	| 
   -----      -----      -----

If a game of Tic Tac Toe is represented as a list of lists(2-D list), like so:
game = 
[[1, 2, 0],
 [2, 1, 0],
 [2, 1, 1]]
where a 0 means an empty square, a 1 means that player 1 put their token in that space, and a 2 means that player 2 put their token in that space.
The goal is to output whether anyone has won, and which player won, if any. A Tic Tac Toe win is 3 in a row - either in a row, a column, or a diagonal. Don’t worry about the case where TWO people have won - assume that in every board there will only be one winner, and print a draw if there is no winner. 

Hint: Let’s make use of double indexing (ex: lis[0][1]) and negative indexing of a matrix (ex: lis[1][-1])

In [2]:
lis=[
    [1, 2, 0],
    [2, 1, 0],
    [2, 1, 1]]
if lis[0][0] == lis[0][1] == lis[0][2]:
    print(f'player{lis[0][0]} win')
elif lis[1][0] == lis[1][1] == lis[1][2]:
    print(f'player{lis[1][0]} win')
elif lis[2][0] == lis[2][1] == lis[2][2]:
    print(f'player{lis[2][0]} win')

elif lis[0][0] == lis[1][0] == lis[2][0]:
    print(f'player{lis[0][0]} win')
elif lis[0][1] == lis[1][1] == lis[2][1]:
    print(f'player{lis[0][1]} win')
elif lis[0][2] == lis[1][2] == lis[2][2]:
    print(f'player{lis[0][1]} win')  


    
elif lis[0][0] == lis[1][1] == lis[2][2]:
    print(f'player{lis[0][0]} win')
elif lis[0][2] == lis[1][1] == lis[2][0]:
    print(f'player{lis[0][2]} win')

You win


Dictionary:
Write a Python script to concatenate the following dictionaries to create a new one. 
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [72]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
n = int(input())
value={}
for i in range(1,n+1):
    value[i]=i**2
print(value)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#List:

1/ Write a Python program to count the number of strings from a given list of strings. Count only the strings that have a length of 2 or more and in which  the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
lis = ['abc', 'xyz', 'aba', '1221','tbt','rbr'] 
cnt = 0
for i in lis:
    for j in range(len(i)):
        if i[0] == i[j-(j+1)]:
            cnt +=1
            break
print(cnt)

2/ Write a Python program to get a list, sorted in increasing(ascending) order by the last element in each tuple from a given list of non-empty tuples. Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
lis = [(2, 5), (1, 2), (4, 4), (3, 3), (5, 1)]
l = []
for i in lis:
    i = list(i)
    l.append(i)

3/ Write a Python program to remove duplicates from a list and display in a descending order. Sample List: [1, 2, 4 , 3, 3, 4, 8, 7, 10, 1] Expected Result: [10, 8, 7, 4, 3, 2, 1]

In [1]:
lis = [1, 2, 4 , 3, 3, 4, 8, 7, 10, 1]
l = []
for i in lis:
    if i not in l:
        l.append(i)
l.sort(reverse=True)
print(l)

[10, 8, 7, 4, 3, 2, 1]

# 2-D List

1/ Write a Python program to generate a 35 2-D array/list whose each element is the string ‘’ . Expected Result:

In [ ]:
s = []
for i in range(3):
    line = []
    for j in range(5):
        line.append('*')
    s.append(line)
for i in s:
    for j in i:
        print(j,end=' ')
    print()

2/ Write a Python program to find the list in a list of lists whose sum of elements is the highest. Sample List: [[1, 2, 3] , [4, 5, 6], [10, 8, 7] , [8, 7, 9]] Expected Output: [10, 8, 7]

In [ ]:
lis = [[1, 2, 3] , [4, 5, 100], [10, 8, 7] , [45, 7, 9]]
ma = lis[0]
for i in range(len(lis)):
    if sum(lis[i]) > sum(ma):
        ma = lis[i]
print(ma)

3/ Write a Python program to remove duplicates from a list of lists. Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]] New List : [[10, 20], [30, 56, 25], [33], [40]]

In [2]:
lis = [[10, 20], [40], [30, 56, 25], [10, 20,10], [33], [40]]
l = []
for i in lis:
    if i not in l:
        l.append(i)
print(l)

[[10, 20], [40], [30, 56, 25], [10, 20, 10], [33]]

# Dictionary:

1/ Write a Python script to sort (ascending and descending) a dictionary by value.
Sample dic: {1: 5, 3: 1, 4: 2, 2: 3, 0: 4}
Expected Result: descending= {1: 5, 0: 4, 2: 3, 4: 2, 3: 1}
                 ascending= {3: 1, 4: 2, 2: 3, 0: 4, 1: 5}

2/ Write a Python script to check whether the values 30 and 35 exist in the dictionary. Sample dic: d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} Expected Result: 30 exists in the dictionary with the key= 3. 35 doesn’t exist in the dictionary.

In [3]:
d ={1:10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
n = int(input())
if n in d.values():
    print(n,'exists in the dictionary')
else:
    print(n,'doesn’t exist in the dictionary')

30
30 exists in the dictionary

3/ Write a Python program to remove the keys ‘middlename’, ‘idealType’ from the given dictionary. Sample dic: dic = { ‘firstname’: ‘K-boy’ , ‘middlename’ : ‘Cambo’, ‘lastname’: ‘Ti’, ‘job’: ‘reporter’, age: 25, ‘idealType’: ‘Tiktoker’ } Expected Result: dic = { ‘firstname’: ‘K-boy’ , ‘lastname’: ‘Ti’, ‘job’: ‘reporter’, age: 25}

In [4]:
dic = { 'firstname': 'K-boy' , 'middlename': 'Cambo','lastname': 'Ti','job':'reporter','age':25,'idealType':'Tiktoker'}
del dic['middlename']
del dic['idealType']
print(dic)

{'firstname': 'K-boy', 'lastname': 'Ti', 'job': 'reporter', 'age': 25}